{% extends "base.html" %}
{% load static %}
{% block body_block %}

    <div class="" style="padding-left: 60px;">

        <h1>Welcome to User History Page</h1>
        <h3 style="text-align:justify;"> Search history using different filters.
        </h3>
        <br>

        <div class="row ">
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <div style="height:300px;overflow:auto;border: 1px solid black; padding:6px 6px 6px 10px;">
                    <h4>All keywords</h4>
                    <fieldset id="checkArray">
                        {% for keyword in keywords_with_count %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ keyword.keyword }}"
                                       name="selectedKeywords">
                                <label class="form-check-label" for="selectedKeywords">
                                    {{ keyword.keyword }} ({{ keyword.key_count }} times found)
                                </label>
                            </div>

                        {% endfor %}
                    </fieldset>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <div style="height:300px;overflow:auto;border: 1px solid black; padding:6px 6px 6px 10px;">
                    <h4> Users </h4>
                    {% for user in users %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{ user.username }}"
                                   name="selectedUsers">
                            <label class="form-check-label" for="selectedUsers">
                                {{ user.username }}
                            </label>
                        </div>

                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <h4> Time Range </h4>
                <div class="form-check">
                    <input class="form-check-input timeRange" type="checkbox" value="yesterday" name="timeRange">
                    <label class="form-check-label" for="timeRange">
                        See data from yesterday
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input timeRange" type="checkbox" value="last week" name="timeRange">
                    <label class="form-check-label" for="timeRange">
                        See data from last week
                    </label>
                </div>

                <div class='form-check'>
                    <input class="form-check-input timeRange" type="checkbox" value="last month" name="timeRange">
                    <label class="form-check-label" for="timeRange">
                        See data from last month
                    </label>
                </div>

                <h4 style='margin-top: 10px;'> Date Range </h4>

                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="startDate">
                <br><label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="endDate">
                <br><input type="submit" value="Clear date" onclick="clear_date();">


            </div>
        </div>
        <br>
        <hr>
        <br>


        <div id="history">

        </div>

    </div>


    <script type="text/javascript">
        var checked_keywords = [];
        var selected_users = [];
        var timeRange = [];
        var start_date_input = "";
        var end_date_input = "";
        var filtered_page = "/?page=1";
        var data = "";
        var url = "";

        $(document).ready(function () {

            $('input[name="selectedKeywords"]').click(function () {
                if (this.checked) {
                    checked_keywords.push(this.value);
                    console.log(checked_keywords)
                } else {
                    checked_keywords.splice(checked_keywords.indexOf((this.value)), 1);
                    console.log(checked_keywords)
                }

                loadData(filtered_page);
            });

            $('input[name="selectedUsers"]').click(function () {
                if (this.checked) {
                    selected_users.push(this.value);
                    console.log(selected_users)
                } else {
                    selected_users.splice(selected_users.indexOf((this.value)), 1);
                    console.log(selected_users)
                }

                loadData(filtered_page);
            });

            $('input[name="timeRange"]').click(function () {
                if (this.checked) {
                    timeRange.push(this.value);
                    console.log(timeRange)
                } else {
                    timeRange.splice(timeRange.indexOf((this.value)), 1);
                    console.log(timeRange)
                }

                clear_date();
                loadData(filtered_page);
            });

            document.getElementById("startDate").addEventListener("change", function () {
                start_date_input = this.value;
                var startDate = new Date(start_date_input);
                console.log(start_date_input);
                console.log(startDate);

                if (start_date_input !== "" && end_date_input !== "") {
                    if (compareDates(start_date_input, end_date_input) === false) {
                        loadData(filtered_page);
                    } else {
                        alert("End date must appear after start date")
                    }
                } else if (start_date_input !== "") {
                    loadData(filtered_page);
                }

                timeRange = [];
                $('.timeRange').prop('checked', $(this).prop('checked'));
            });

            document.getElementById("endDate").addEventListener("change", function () {
                end_date_input = this.value;
                var endDate = new Date(end_date_input);
                console.log(end_date_input);
                console.log(endDate);

                if (start_date_input !== "" && end_date_input !== "") {
                    if (compareDates(start_date_input, end_date_input)) {
                        loadData(filtered_page);
                    } else {
                        document.getElementById("endDate").value = "";
                        end_date_input = "";
                        alert("End date must appear after start date")
                    }
                } else if (end_date_input !== "") {
                    loadData(filtered_page);
                }

                timeRange = [];
                $('.timeRange').prop('checked', $(this).prop('checked'));
            });

            function compareDates(start_date_input, end_date_input) {
                var splitFrom = start_date_input.split('/');
                var splitTo = end_date_input.split('/');

                //Create a date object from the arrays
                var fromDate = Date.parse(splitFrom[0], splitFrom[1] - 1, splitFrom[2]);
                var toDate = Date.parse(splitTo[0], splitTo[1] - 1, splitTo[2]);

                return fromDate < toDate;
            }
        });

        function clear_date() {
            document.getElementById("startDate").value = "";
            document.getElementById("endDate").value = "";
            start_date_input = "";
            end_date_input = "";
            loadData(filtered_page);
        }
        {% if keywords %}

            var item = "";
            item += "<div class='row'>"
            {% for keyword in keywords %}
                item += "<div class='card' style='width: 19rem; padding:2px 2px 2px 2px'>";
                item += "<div class='card-body'>";
                {#item += "<div class='col-lg-4 col-md-4 col-sm-4'>";#}
                item += "<h3>" + "{{ keyword.keyword }}" + "</h3>";
                item += "<h6 class='card-title'> Searched by:" + "{{keyword.custom_user.username}}" + "</h6>"
                item += "<p class='card-text'>" + "{{ keyword.search_time }}" + "</p>"
                item += "</div>";
                {#item += "</div>";#}
                item += "</div>";
            {% endfor %}
            item += "</div><br>";

            {% if keywords.has_next and keywords.has_previous %}
                item += "<div style='text-align: center>"
                item += "<a id='previous' class='ml-2 mr-2' style=\"font-size:30px\" href=\"?page={{ keywords.previous_page_number }}\">prev | </a>"

                item += "<span class='current'>"
                item += "<span class='ml-2 mr-2' style='font-size:30px'>Page No: " + "{{ keywords.number }}" + "</span>"
                item += "</span>"

                item += "<a id='next' style='font-size:30px' href='?page={{ keywords.next_page_number }}'>| next</a>"
                item += "</div>";

            {% elif keywords.has_next %}
                item += "<div style='text-align: center'>"
                item += "<span class='current'>"
                item += "<span class='ml-2 mr-2' style='font-size:30px'>Page No:" + "{{ keywords.number }}" + "</span>"
                item += "</span>"
                item += "<a id='next' style= 'font-size:30px' href='?page={{ keywords.next_page_number }}'>| next</a>"
                item += "</div>";

            {% elif keywords.has_previous %}
                item += "<div style='text-align: center'>"
                item += "<a id='previous' class=\" ml-2 mr-2\" style=\"font-size:30px\" href=\"?page={{ keywords.previous_page_number }}\">prev | </a>"
                item += "<span class=\"current\">"
                item += "<span style=\"font-size:30px\">Page No: {{ keywords.number }}</span>"
                item += "</span>"
                item += "</div>";

            {% elif keywords %}
                item += "<div style='text-align: center'>"
                item += "<span class=\"current\">"
                item += "<span style=\"font-size:30px\">Page No: 1 of 1</span>"
                item += "</span>"
                item += "</div>";

            {% endif %}
            item += "</div>"

            document.getElementById("history").innerHTML = item;

        {% endif %}

        jQuery(document).on('click', "#previous", function (event) {
            event.preventDefault();
            var page_n = $(this).attr('href');

            loadData(page_n);
        });

        jQuery(document).on('click', "#next", function (event) {
            event.preventDefault();
            var page_n = $(this).attr('href');

            loadData(page_n);
        });

        function loadData(page_n) {
            console.log(checked_keywords.length > 0)

            if (checked_keywords.length > 0 || selected_users.length > 0 || timeRange.length > 0
                || start_date_input !== "" || end_date_input !== "") {

                url = `{% url 'filterHistory' %}`
                data = {
                    "checked_keywords": checked_keywords,
                    "selected_users": selected_users,
                    "timeRange": timeRange,
                    "start_date_input": start_date_input,
                    "end_date_input": end_date_input,
                    'page_n': page_n,
                }
                data = JSON.stringify({'data': data})
            } else {
                url = page_n;
                {#console.log("else", url)#}
                data = JSON.stringify({'page_n': page_n})
            }

            console.log(data)
            fetchData(url, data);
        }

        function fetchData(url, data) {

            var csrf_token = "{{ csrf_token }}"

            fetch(url,
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrf_token,
                    },
                    body: data
                })

                .then((response) => response.json())

                .then((data) => {
                    console.log(data)
                    var item = "";

                    if (data["data"].length === 0) {
                        item += "<div style='text-align: center'>"
                        item += "<h3 style=' color:red;'>" + "No data found" + "</h3>";
                        item += "</div>";
                        item += "</div>";
                    }

                    item += "<div class='row'>"

                    $.each(data["data"], function (i, keyword) {

                        item += "<div class='card' style='width: 19rem; padding:2px 2px 2px 2px'>";
                        item += "<div class='card-body'>";
                        console.log(keyword.keyword)

                        item += "<h3>" + keyword.keyword + "</h3>";
                        item += "<h6 class='card-title'> Searched by:" + keyword.custom_user + "</h6>"
                        item += "<p class='card-text'>" + keyword.search_time + "</p>"
                        item += "</div>";

                        item += "</div>";
                    });
                    item += "</div>";
                    console.log(data.page)

                    filtered_page = "/?page=" + data.page.number
                    console.log(filtered_page)
                    item += "<br>"
                    if (data.page.has_next && data.page.has_previous) {
                        item += "<div style='text-align: center'>"
                        item += "<a id='previous' class='ml-2 mr-2' style=\"font-size:30px\" href=\"?page=" + data.page.previous_page_number + "\">prev | </a>"

                        item += "<span class='current'>"
                        item += "<span class='ml-2 mr-2' style='font-size:30px'>Page No: " + data.page.number + "</span>"
                        item += "</span>"

                        item += "<a id='next' style='font-size:30px' href='?page=" + data.page.next_page_number + "\'>| next</a>"
                        item += "</div>"
                    } else if (data.page.has_next) {
                        item += "<div style='text-align: center'>"
                        item += "<span class='current'>"
                        item += "<span class='ml-2 mr-2' style='font-size:30px'>Page No:" + data.page.number + "</span>"
                        item += "</span>"
                        item += "<a id='next' style= 'font-size:30px' href='?page=" + data.page.next_page_number + "\'>| next</a>"
                        item += "</div>"
                    } else if (data.page.has_previous) {
                        item += "<div style='text-align: center'>"
                        item += "<a id='previous' class=\" ml-2 mr-2\" style=\"font-size:30px\" href=\"?page=" + data.page.previous_page_number + "\">prev | </a>"
                        item += "<span class=\"current\">"
                        item += "<span style=\"font-size:30px\">Page No:" + data.page.number + "</span>"
                        item += "</span>"
                        item += "</div>"
                    } else if (data.data) {
                        item += "<div style='text-align: center'>"
                        item += "<span class=\"current\">"
                        item += "<span style=\"font-size:30px\">Page No: 1 of 1</span>"
                        item += "</span>"
                        item += "</div>"
                    }

                    document.getElementById("history").innerHTML = item;
                });
        }

    </script>

{% endblock %}


